openapi: 3.0.3
info:
  title: AI Gateway
  description: Multi-provider AI Gateway — a unified, secure, and high-performance middleware for all Bogdan projects.
  version: 3.0.0
servers:
  - url: https://api.mitchfromtransylvania.com
    description: Production server
  - url: http://localhost:8080
    description: Local development server
paths:
  /health:
    get:
      summary: Service health check
      description: Returns service status and enabled providers. Publicly accessible.
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /ping:
    get:
      summary: Liveness check
      description: Returns a simple "pong" response.
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: pong
  /ready:
    get:
      summary: Readiness check
      description: Returns readiness status. Authenticated callers get detailed provider status.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PublicReadinessResponse'
                  - $ref: '#/components/schemas/AuthenticatedReadinessResponse'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicReadinessResponse'
  /metrics:
    get:
      summary: Prometheus metrics
      description: Returns internal metrics in Prometheus format.
      responses:
        '200':
          description: OK
  /providers:
    get:
      summary: List available providers
      description: Returns a list of available AI providers and their models, filtered by tenant policy if applicable.
      security:
        - bearerAuth: []
      parameters:
        - name: x-tenant-id
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
  /v1/chat/completions:
    post:
      summary: Chat completion (OpenAI compatible)
      description: Unified chat completion endpoint supporting multiple providers and models.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              description: SSE stream of completion chunks
  /v1/estimate:
    post:
      summary: Estimate chat tokens and cost
      description: Accepts the same payload as chat completions and returns estimated token usage and cost without executing a model call.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
  /v1/embeddings:
    post:
      summary: Generate embeddings
      description: Unified embeddings endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
  /complete:
    post:
      summary: Simple completion
      description: Simplified completion endpoint (legacy support).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleCompletionResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ProviderName:
      type: string
      enum: [openai, claude, gemini, xai, groq, perplexity]
    
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          const: healthy
        service:
          type: string
          const: ai-gateway
        version:
          type: string
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ProviderName'
        timestamp:
          type: string
          format: date-time
    
    PublicReadinessResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ready, not_ready]
        service:
          type: string
          const: ai-gateway
        version:
          type: string
        timestamp:
          type: string
          format: date-time

    AuthenticatedReadinessResponse:
      allOf:
        - $ref: '#/components/schemas/PublicReadinessResponse'
        - type: object
          properties:
            master_key_configured:
              type: boolean
            inflight:
              type: object
              properties:
                global:
                  type: integer
            providers:
              type: array
              items:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/ProviderName'
                  enabled:
                    type: boolean
                  ready:
                    type: boolean
                  reason:
                    type: string

    ProvidersResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/ProviderName'
              enabled:
                type: boolean
              defaultModel:
                type: string
              models:
                type: array
                items:
                  type: string
        tenant_id:
          type: string

    Message:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string
          maxLength: 32000

    ChatCompletionRequest:
      type: object
      required: [messages]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
          minItems: 1
          maxItems: 50
        provider:
          $ref: '#/components/schemas/ProviderName'
        model:
          type: string
        temperature:
          type: number
          minimum: 0
          maximum: 2
        max_tokens:
          type: integer
          minimum: 1
          maximum: 16384
        maxTokens:
          type: integer
          minimum: 1
          maximum: 16384
        tenant_id:
          type: string
        stream:
          type: boolean
        allow_fallback:
          type: boolean
        allowFallback:
          type: boolean

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: chat.completion
        created:
          type: integer
        model:
          type: string
        provider:
          $ref: '#/components/schemas/ProviderName'
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    const: assistant
                  content:
                    type: string
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
        latency_ms:
          type: number
        tenant_id:
          type: string

    EstimateResponse:
      type: object
      properties:
        object:
          type: string
          const: estimate
        provider:
          $ref: '#/components/schemas/ProviderName'
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
        cost:
          type: object
          properties:
            usd:
              type: number
            cents:
              type: number
        pricing:
          type: object
          properties:
            input_per_1k_usd:
              type: number
            output_per_1k_usd:
              type: number
        tenant_id:
          type: string

    EmbeddingRequest:
      type: object
      required: [input]
      properties:
        input:
          oneOf:
            - type: string
              maxLength: 32000
            - type: array
              items:
                type: string
                maxLength: 32000
              maxItems: 50
        model:
          type: string
        provider:
          $ref: '#/components/schemas/ProviderName'
        tenant_id:
          type: string

    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                const: embedding
              index:
                type: integer
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
        provider:
          $ref: '#/components/schemas/ProviderName'
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            total_tokens:
              type: integer
        latency_ms:
          type: number
        tenant_id:
          type: string

    SimpleCompletionRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          maxLength: 32000
        system:
          type: string
          maxLength: 32000
        provider:
          $ref: '#/components/schemas/ProviderName'
        model:
          type: string
        temperature:
          type: number
          minimum: 0
          maximum: 2
        max_tokens:
          type: integer
          minimum: 1
          maximum: 16384
        maxTokens:
          type: integer
          minimum: 1
          maximum: 16384
        tenant_id:
          type: string
        allow_fallback:
          type: boolean
        allowFallback:
          type: boolean

    SimpleCompletionResponse:
      type: object
      properties:
        content:
          type: string
        provider:
          $ref: '#/components/schemas/ProviderName'
        model:
          type: string
        usage:
          type: object
          properties:
            promptTokens:
              type: integer
            completionTokens:
              type: integer
            totalTokens:
              type: integer
        latency_ms:
          type: number
        tenant_id:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
